






/*                          works                    */
.name {
 
  top:0px; 
  margin: 20px;
  position: relative;
  font-size:59px;
  text-shadow: 0 0 60px rgb(94, 82, 82);
  color: white;
  /* text-align: center; */
}


*{
  box-sizing: border-box;
}

.container{
  max-width: 600px;
  margin: 0;
  display: flex;
}
.container .content{
  padding: 10px;
}
.subhead{
  font-family: futura;
  margin-left: 20px;
  position: static;
  font-size:30px;
  /* text-align: center; */

}



.paragraph{
  
  margin-left: 20px;
  font-family:futura;
 
  font-size: 15px;/* text-align: center; */
}


.thursdayexplain{
  /* padding-top: 0px; */
  /* margin-left: 10px;
  margin-right: 10px; */
  text-align: center;
  max-width: 300px;
}


.imagestyle{
  width:400px;
  height:400px;
  margin-left: 100px;
  padding-top: 0px;
  margin-bottom: -6px; opacity: 0.8; cursor: pointer
} 



img:hover  {
  background-color: rgb(155, 255, 177);
  opacity: 1;
  transition: 2s ease;
  
 
}



.lister{
  font-size: 15px;
  margin-left: 20px;
 

}



.image{
  flex-wrap: wrap;
  position: relative;
  max-width:450px;
  height: 450px;
  padding-top: 0px;
  margin-bottom: 6px; opacity: 0.8; cursor: pointer;
  border-style: solid;
}

.secondphoto{
  position: absolute;
  height:450px;
  margin: 450px 400px;
  border-style: solid;
}
.thirdphoto{
  position: absolute;
  height:450px;
  margin: 450px 850px;
  border-style: solid;
}

.fourthphoto{
  position: absolute;
  height:450px;
  margin: 900px 850px;
  border-style: solid;
}


.notify{
  
  margin-top: 700px;
  width: 1400px;
  height:500px;
}

body{
  font-family: futura;
}

h3{
  text-align: center;
  font-family: playfair display;
  font-size: 45px;
  color: grey;
}
h4{
  text-align: center;
  font-size: 25px;
  /* padding-top:-10px; */
  color: grey;
}

.thursday{
margin-left: 500px;
width: 400px;
height: 400px;
}

div{
  background-color: rgb(241, 241, 241) ;
  padding-bottom: 20px;
  padding-top: 30px;
  
}

.thrupro{
  /* width: 50%; */
 display: none;
  position: center;
}

.thrupro:hover{
  background-color: rgb(214, 155, 206);
}

.friday{
  
  width:400px;
  height: 400px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

section {
  /* max-width: 1000px; */
 position:center;
 width: 50%;
 border: solid;
 border-width: 1px;
 /* flex-wrap: wrap; */
}

.columns{
  display: flex;
  max-width: 1000px;
}

.column{
  width: 60%;
}


 .captions{
   margin:  450px;
   border-style: dotted;
   max-width: 50%;
   /* position: relative; */
 }
 .process{
   margin: 300px 450px;
 }